html {
  background-color: orange;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #brainDump {
    margin-bottom: 20px;
  }
  
  #taskInput {
    width: 100%;
    height: 100px;
    /* margin-bottom: 10px; */
  }
  
  #subgroups {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #subgroups h2 {
    margin-bottom: 10px;
  }
  
  .subgroup {
    /* background-color: #f2f2f2; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 10px;
    cursor: move;
  }
  
  .subgroup input[type="text"] {
    width: 200px;
  }
  
  .subgroup .taskList {
    margin-top: 10px;
    padding-left: 10px;
    list-style-type: none;
    cursor: move;
  }
  
  .subgroup .taskList li {
    margin-bottom: 5px;
  }
  